global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    retries 3
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout check           10s

frontend k8s_api_frontend
    bind {{ master_node_entry_ip }}:6443
    mode tcp
    option tcplog
    default_backend k8s_api_backend

backend k8s_api_backend
    mode tcp
    balance roundrobin

    {% for host in groups['masters'] %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:6443 check inter 2000 fall 3 rise 2
    {% endfor %}

listen stats
    bind {{ master_node_entry_ip }}:9000
    mode http
    stats enable
    stats uri /haproxy_stats
    stats refresh 5s

