127.0.0.1 localhost

{% for host in groups['all'] %}
{% if hostvars[host].ansible_host is defined and host in groups['masters'] %}
{{ hostvars[host].ansible_host }} {{ host }}.{{ cluster_domain }} {{ master_node_addr }} {{ host }}
{% endif %}
{% if hostvars[host].ansible_host is defined and (host not in groups['cluster_dns_resolver'] and host not in groups['masters']) %}
{{ hostvars[host].ansible_host }} {{ host }}.{{ cluster_domain }} {{ host }}
{% endif %}
{% endfor %}

{{ ansible_host }} {{ inventory_hostname }}.{{ cluster_domain }} {{ inventory_hostname }}